.container {
  width: 40vw;
  margin: auto;
  border: 1px solid black;
  padding: 1rem;
}

.line {
  border-bottom: 1px solid black;
  margin: 1rem 0;
}

.add-form form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
